main {
    display: grid;
    max-width: 800px;
    margin: auto;
    grid-template-columns: 150px 1fr 100px;
    text-align: center;
}
.navigation {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    background-color: lightgrey;
}
header {
       font-size: 20px;
       margin: 0px 5px;
       background-color: lightgrey;
       border-bottom: 1px solid grey;
       border-top: 1px solid grey;
}
.belowHeader {
    width: 1fr;
    display: grid;
    margin: 5px;
    grid-template-columns: 1fr 250px 1fr;
}
.sideBarRight {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    background-color: lightgrey;
}
.contentRight {
    margin: 5px;
}
.contentMid  {
        margin: 5px 0px;
}
.contentLeft {
    margin: 5px;
}
.community ul {
    list-style: none;
    text-align: left;
    padding: 0;
    column-count: 2;
    font-family: sans-serif;
    font-size: .8rem;
    color: blue;
}
.services ul {
    list-style: none;
    text-align: left;
    padding: 0;
    column-count: 2;
    font-family: sans-serif;
    font-size: .8rem;
    color: blue;
}
.discussionforums ul {
    list-style: none;
    text-align: left;
    list-style-type: none;
    padding: 0;
    column-count: 3;
    font-family: sans-serif;
    font-size: .8rem;
    color: blue;
}
.housing ul {
    list-style: none;
    text-align: left;
    list-style-type: none;
    padding: 0;
    column-count: 1;
    font-family: sans-serif;
    font-size: .8rem;
    color: blue;
}
.forSale ul {
    list-style: none;
    text-align: left;
    list-style-type: none;
    padding: 0;
    column-count: 2;
    font-family: sans-serif;
    font-size: .8rem;
    color: blue;
}
.jobs ul {
    list-style: none;
    text-align: left;
    list-style-type: none;
    padding: 0;
    font-family: sans-serif;
    font-size: .8rem;
    color: blue;
}
.gigs ul {
    list-style: none;
    text-align: left;
    list-style-type: none;
    padding: 0;
    column-count: 2;
    font-family: sans-serif;
    font-size: .8rem;
    color: blue;
}
.sideBarRight ul {
    list-style: none;
    text-align: center;
    list-style-type: none;
    padding: 0;
    font-family: sans-serif;
    font-size: .8rem;
    color: blue;
}
    li {
    border-bottom: 1px solid lightgrey;
    margin: 2px 0;
    font-size: 10px;
}

.category {
    display: block;
    background-color: lightgrey;
    color: blue;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    }

